/* Styles de base */
body {
    font-family: sans-serif;
    background-color: #959a95;
    margin: 0;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px;
    position: relative; /* Ajouté pour le positionnement */
}

header {
    background-color: #f0f0f0;
    padding: 20px 0;
}
.footer-content {
    background-color: #f0f0f0;
    padding: 20px 0;
}

/* Styles du menu */
#menu-toggle {
    display: inline-block;
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute; /* Position à gauche */
    left: 10px; /* Espace depuis le bord gauche */
    top: 50%; /* Centrer verticalement */
    transform: translateY(-50%); /* Ajustement du centrage vertical */
    z-index: 2;
}
nav {
    position: absolute;
    left: 10px;
    top: 60px;
    display: block;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fefefe;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 1;
    width: 200px; /* Ajuster selon besoin */
    left: 0;
}

nav li {
    display: block;
    margin: 0;
}

nav a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
}

nav a:hover {
    background-color: #f0f0f0;
}

nav ul.hidden {
    display: none;
}

section {
    padding: 3px 0;
}

h2 {
    margin-bottom: 20px;
}

p {
    font-size: 1.1em;
}

/* Styles de la section d'accueil */
.image-accueil {
    display: block;
    width: 100%;
    height: 700px;
    object-fit: cover;
    position: relative;
}

.accueil-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    width: 80%;
    max-width: 600px;
    z-index: 1;
}
.accueil-overlay h2 {
    font-size: 2.5em; /* Taille augmentée */
    margin-bottom: 10px;
}

.accueil-overlay p {
    font-size: 1.3em; /* Taille augmentée */
}

/* Styles du formulaire de recherche */
#form-recherche {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
}

#form-recherche label {
    margin-bottom: 5px;
    font-weight: bold;
}

#form-recherche input {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#form-recherche button {
    padding: 10px 20px;
    background-color: #f0f0f0;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    align-self: center;
    width: 35%;
}

/* Styles des résultats de recherche */
#resultats-recherche {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.logement {
    border: 1px solid #ccc;
    padding: 20px;
}

.logement img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin-bottom: 10px;
}

/* Styles de la section des services */
#services ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#services li {
    margin-bottom: 25px;
    text-align: left;
    font-size: 1.2em;
    font-weight: normal;
    padding-left: 30px;
    position: relative;
}

#services li::before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background-color: #ff9800;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* Styles pour les écrans de petite taille (smartphones) */
@media (max-width: 768px) {
    .container {
        padding: 10px; /* Réduction du padding du conteneur */
    }

    #menu-toggle {
         padding: 8px 12px; /* Réduction du padding du bouton du menu */
        font-size: 0.9rem;
    }
    nav ul {
         width: 150px; /* Réduction de la largeur du menu */
    }
    nav a {
         padding: 8px 12px; /* Réduction du padding du menu */
         font-size: 0.9rem;
    }

    #form-recherche {
        flex-direction: column; /* Formulaire en colonne */
    }

    #resultats-recherche {
        grid-template-columns: 1fr; /* Une seule colonne pour les résultats */
    }

    .image-accueil {
       height: 400px; /* Réduction de la hauteur de l'image */
         margin: 10px auto;
    }
    .accueil-overlay {
        padding: 10px; /* Réduction du padding de l'overlay */
    }
    .accueil-overlay h2 {
        font-size: 1.8em; /* Réduction de la taille du titre */
        margin-bottom: 5px;
    }

    .accueil-overlay p {
        font-size: 1em; /* Réduction de la taille du texte */
    }

    #services li {
        flex: 0 0 100%;
        font-size: 1em; /* Réduction de la taille de la police */
        margin-bottom: 15px;
        padding-left: 25px;
    }
    #services li::before {
        width: 12px;
        height: 12px;
    }
    .logement img {
      height: 300px; /* Réduction de la hauteur de l'image du logement */
    }
}

.text-center {
    text-align: center;
}

/* Dernières publications */
#derniers-logements {
    margin-bottom: 20px;
    width: 100%;
    height: 700px;
    position: relative;
    overflow: hidden;
}

.logement-carousel {
    display: flex;
    width: 300%; /* 3 logements x 100% */
    transition: transform 0.5s ease-in-out;
    position: relative;
    height: 100%;
}

#derniers-logements .logement {
    width: calc(100% / 3);
    box-sizing: border-box;
    margin: 0;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Aligner les éléments en haut */
    opacity: 0;
    transition: opacity: 0.5s ease-in-out;
    height: 100%;
    padding: 10px;
    border: 1px solid #ccc; /* Ajout d'une bordure */
    background-color: white; /* Fond blanc pour le contenu */
}

#derniers-logements .logement img {
    width: 100%;
    height: 500px; /* Hauteur fixe pour les images */
    object-fit: cover;
    margin-bottom: 10px;
}

/* Styles pour le texte dans les logements */
#derniers-logements .logement h3,
#derniers-logements .logement p {
    text-align: center; /* Centrer le texte */
    color: black;
    margin: 5px 0; /* Réduire la marge */
}

/* Style du bouton "Réserver" */
#derniers-logements .logement button {
    margin-top: auto; /* Pousser le bouton vers le bas */
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

/* Style pour la slide du milieu */
#derniers-logements .logement:nth-child(2) {
    left: calc(50% - calc(100% / 6));
    z-index: 2; /* S'assurer qu'il est au-dessus */
    opacity: 1; /* Le rendre entièrement visible */
}

/* Style pour la slide de gauche */
#derniers-logements .logement:first-child {
    left: 0;
    z-index: 1; /* Le placer derrière la slide du milieu */
    opacity: 0.7; /* Partiellement visible */
}

/* Style pour la slide de droite */
#derniers-logements .logement:last-child {
    left: calc(100% - calc(100% / 3));
    z-index: 1; /* Le placer derrière la slide du milieu */
    opacity: 0.7; /* Partiellement visible */
}

#voir-plus {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

/* Style pour toutes les sections avec un bloc */
#recherche-logement .container,
#derniere-publication .container,
#services .container,
#contact .container,
#apropos .container {
    border: 1px solid #ccc;
    background-color: #39676a;
    color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.9); /* Ombre pour l'effet surélevé */
    padding: 20px;
    margin-bottom: 30px; /* Espace entre les sections */
}

/* Style pour la section "CHOISI TON LOGEMENT" */
#recherche-logement .container {
    background-color: #4ca656; /* Fond vert */
    color: white; /* Texte en blanc */
}

/* Centrer le texte du pied de page */
footer .container {
    text-align: center;
    max-width: 1500px;
}

/* Styles pour la fenêtre de réservation */
.fenetre-reservation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 10; /* S'assurer qu'il est au-dessus */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3); /* Ombre */
}

.fenetre-reservation img {
  width: 250px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.fenetre-reservation .bouton-discussion,
.fenetre-reservation .bouton-payer,
.fenetre-reservation .bouton-fermer {
  padding: 8px 15px;
  margin: 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.fenetre-reservation .bouton-fermer {
  background-color: #f44336; /* Rouge pour le bouton de fermeture */
}
