body {
    font-family: sans-serif;
    margin: 0;
    background-color: white;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px;
    position: relative; /* Pour le positionnement des éléments enfants */
}

h2 {
    margin-bottom: 20px;
}

p {
    font-size: 1.1em;
}

.text-center {
    text-align: center;
}

header {
    background-color: #fe0008;
    padding: 20px 0;
}

.header-container {
    display: flex;
    justify-content: space-between; /* Logo à gauche, menu à droite */
    align-items: center;
}

.logo img {
    height: 50px;
}

#menu-toggle {
    display: inline-block;
    padding: 10px 15px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

nav {
    position: absolute;
    right: 0;
    top: 100%; /* En dessous du bouton */
    display: block; /* Important pour le positionnement absolu */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fefefe;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: absolute; /* Position absolue par rapport au parent (nav) */
    z-index: 1;
    width: 200px;
    right: 0;
    top: 0;
}

nav li {
    display: block; /* Les éléments de liste prennent toute la largeur */
    margin: 0;
}

nav a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
}

nav a:hover {
    background-color: #f0f0f0;
}

nav ul.hidden {
    display: none; /* Masquer le menu par défaut */
}

#accueil {
    position: relative;
    color: white;
    text-align: center;
    overflow: hidden;
}

#accueil .accueil-container {
    position: relative;  /* Important pour le positionnement du texte */
    padding-bottom: 0;  /* Réduit l'espace en bas */
}

.image-accueil {
    display: block;
    width: 100%;
    height: 700px;
    object-fit: cover;
    position: relative; /* Permet d'assombrir l'image */
    filter: brightness(80%); /* Assombrit l'image */
}

.accueil-text {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; /* Au-dessus de l'image */
    width: 80%;
    max-width: 800px;
}

.accueil-text h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.accueil-text p {
    font-size: 1.3em;
}

#recherche-logement {
    position: relative;
    top: -100px;       /* Chevauche l'image */
    margin-bottom: -100px; /* Compense le chevauchement */
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 1000px;
    background-color: #fe0008;
    color: black; /* Couleur du texte */
    padding: 20px;
    border-radius: 50px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}

/* Style pour le conteneur interne de la recherche */
#recherche-logement .recherche-container {
    max-width: 100%;
    padding: 0;
}

/* Centrer le titre et le texte dans la section recherche */
#recherche-logement h2,
#recherche-logement p {
    text-align: center;
}

/* Style pour le formulaire de recherche */
#recherche-logement #form-recherche {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column; /* Disposition verticale */
}

#recherche-logement #form-recherche label {
    margin-bottom: 5px;
    font-weight: bold;
}

#recherche-logement #form-recherche input {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: black; /* Couleur du texte saisi */
}

#recherche-logement #form-recherche button {
    padding: 10px 20px;
    background-color: #f0f0f0; /* Gris clair */
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    align-self: center; /* Centrer le bouton */
    width: 50%;
}

#recherche-logement .container {
  background-color: #bf071e;
  border-radius: 50px;
  color: black;
}

#resultats-recherche {
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    color: black;
    display: grid; /* Disposition en grille */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Colonnes flexibles */
    grid-gap: 20px; /* Espacement entre les éléments */
}

.logement {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.logement img {
    width: 100%;
    height: 200px; /* Hauteur fixe pour les images */
    object-fit: cover;
    margin-bottom: 10px;
}


#derniere-publication .container{
  background-color: #767373; /* Fond rouge */
  border-radius: 10px;
  color: white; /* Texte en blanc */
}

#derniers-logements {
    margin-bottom: 20px;
    width: 100%;
    height: 520px; /* Hauteur réduite */
    position: relative;
    overflow: hidden;
}

.logement-carousel {
    display: flex;
    width: 300%; /* 3 logements x 100% */
    transition: transform 0.5s ease-in-out;
    position: relative;
    height: 100%;
}

#derniers-logements .logement {
    width: calc(100% / 3);
    box-sizing: border-box;
    margin: 0;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Transition d'opacité */
    height: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #bf071e; /* Fond blanc pour le contenu */
}

#derniers-logements .logement img {
    width: 100%;
    height: 250px; /* Hauteur fixe pour les images */
    object-fit: cover;
    margin-bottom: 10px;
}

#derniers-logements .logement h3,
#derniers-logements .logement p {
    text-align: center;
    color: black;
    margin: 5px 0;
}

#derniers-logements .logement button {
    margin-top: auto; /* Pousse le bouton vers le bas */
    padding: 5px 10px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
}

/* Positionnement des slides du carousel */
#derniers-logements .logement:nth-child(2) { /* Slide du milieu */
    left: calc(50% - calc(100% / 6));
    z-index: 2;
    opacity: 1;
}

#derniers-logements .logement:first-child { /* Slide de gauche */
    left: 0;
    z-index: 1;
    opacity: 0.7;
}

#derniers-logements .logement:last-child { /* Slide de droite */
    left: calc(100% - calc(100% / 3));
    z-index: 1;
    opacity: 0.7;
}

#voir-plus {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

#services .container{
    background-color: #767373; /* Fond rouge */
    border-radius: 10px;
    color: white; /* Texte en blanc */

}
#services ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#services li {
    margin-bottom: 25px;
    text-align: left;
    font-size: 1.2em;
    font-weight: normal;
    padding-left: 30px;
    position: relative;
}

/* Cercle orange à côté de chaque service */
#services li::before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background-color: #fe0008;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

#apropos .container{
    background-color: #767373; /* Fond rouge */
    border-radius: 10px;
    color: white; /* Texte en blanc */

}
/* ==========================================================================
   Pied de Page (Footer)
   ========================================================================== */

.footer-content {
    background-color: #fe0008;
    padding: 20px 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer .container {
    text-align: center;
     max-width: 1500px;
    color: white;
}

/* Section Contact dans le footer */
#contact {
    margin-bottom: 15px; /* Espace avant le copyright */
}

#contact ul {
    list-style: none; /* Pas de puces */
    padding: 0;
}

#contact li {
    margin-bottom: 8px;
}

#contact a {
    color: white; /* Liens en blanc */
    text-decoration: none; /* Pas de soulignement */
}

#contact i {
    margin-right: 8px; /* Espace entre l'icône et le texte */
}

/* Section "Comment ça marche ?" */
#comment-marche h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

#comment-marche a {
    color: white;
    text-decoration: none;
}

/* ==========================================================================
   Fenêtre de Réservation
   ========================================================================== */

.fenetre-reservation {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 10;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.fenetre-reservation img {
    width: 250px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.fenetre-reservation .bouton-discussion,
.fenetre-reservation .bouton-payer,
.fenetre-reservation .bouton-fermer {
    padding: 8px 15px;
    margin: 5px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
}

.fenetre-reservation .bouton-fermer {
    background-color: #f44336;
    color: white;
}

.comment-marche-fenetre {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    color: black;
    z-index: 20; /* Au-dessus de la fenêtre de réservation */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto; /* Barre de défilement si nécessaire */
}

.comment-marche-fenetre h3 {
    margin-top: 0;
}

.comment-ca-marche-item {
    margin-bottom: 15px;
}

.comment-ca-marche-item h4 {
    margin-bottom: 5px;
}

.comment-marche-fenetre .fermer-fenetre {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
    color: #f44336; /* Rouge */
}

#derniere-publication .container,
#services .container,
#contact .container,
#apropos .container {
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #767373;
  color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.9); /* Ombre pour l'effet surélevé */
  padding: 20px;
  margin-bottom: 30px; /* Espace entre les sections */
}

#recherche-logement .container,
background-color: #fe0008;
}

/* Styles pour les écrans de petite taille (smartphones) */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    /* Header */
    #menu-toggle {
        padding: 8px 12px;
        font-size: 0.9rem;
    }

    nav ul {
        width: 150px;
        right: 0; /* Aligner le menu à droite */
    }

    nav a {
        padding: 8px 12px;
        font-size: 0.9rem;
    }

    /* Accueil */
    .image-accueil {
        height: 400px;
        margin: 10px auto;
    }

    .accueil-text {
        top: 10%;
        padding: 10px;
    }

    .accueil-text h2 {
        font-size: 1.8em;
        margin-bottom: 5px;
    }

    .accueil-text p {
        font-size: 1em;
    }

    /* Recherche de logement */
    #form-recherche {
        flex-direction: column;
    }

    #resultats-recherche {
        grid-template-columns: 1fr; /* Une seule colonne */
    }

   #recherche-logement {
        position: relative;
        width: 95%;
        max-width: none;
        transform: translateX(0%);
        margin: 20px auto;
        box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
        top: -50px;
        margin-bottom: -50px;
    }
    /* Services */
    #services li {
        flex: 0 0 100%;
        font-size: 1em;
        margin-bottom: 15px;
        padding-left: 25px;
    }

    #services li::before {
        width: 12px;
        height: 12px;
    }

    /* Carousel */
     #derniers-logements .logement {
        border: none; /*Pas de bordure sur l'image*/
     }
    .logement img {
        height: 200px; /* Hauteur réduite des images */
    }

    /* Footer */
    .footer-content {
        flex-direction: column;
        text-align: center;
        padding: 10px 0;
    }

    .footer-content #contact {
        margin-bottom: 10px;
    }

    #resultats-recherche {
        padding: 10px;
        margin-top: 10px;
    }
}